:root {
    --height-header: 50px;
    --height-el: 35px;
    --padding-top: 15px;
  }
#header{
    background-color: #3c3f6e;
    /* border-bottom: 1px solid #ccc; */
    height: 50px;
    font-family: Arial;
    font-size: 15px;
    /* color: #ccc; */
}
#reg {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    float: right;
}
#reg li {
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-left:-4px;
    display: inline-block;
    background-color: #342492;
    width: 130px;
    height: 100%;
}
#reg li:hover{
    background-color: #8d18aa;
}
#header a:link, a:visited{  
    margin: 0px;
    padding: 0px;
    border: 0px;
    /* padding-top: 10px; */
    padding-top: var(--padding-top);
    text-align: center; 
    color:#ccc;
    display: inline-block;
    /* height: 40px; */
    height: var(--height-el);
    width: 100%;
}
#header a:hover{
    color: red;
}

#tel {
    padding: 0px; 
    padding-top: 9px;
    margin: 0px;
    /* */
    border: 0px;
    height: 100%;
    /* margin-right: 600px; */
    float: right;
}
#tel li {
    margin: 0px;
    padding: 0px;
    border: 0px;
    
    width: 130px;
    color: #ccc;
}
#tel_div{
    padding-top: 9px;
    float: right;
    margin-right: 30px;
    color: #ccc;
    user-select: none;
}
#city{
    float: left;
    color: #ccc;
    border: 0px;
    /* margin-left: 10px; */
    /* height: var(--height-el); */
    height: var(--height-header);
    width: 150px;
    /* padding-top: var(--padding-top); */
    background-color: #342492;
    text-align: center;
    font-size: 15px;
}

#title{
     margin-left: 50px;
    /* margin-right: 500px; */
    float: left;
    font-size: 30px;
    color: #f50a0a;
    padding-top: 5px;
    user-select: none;
}