#menu{
    background-color: #ddd;
    float: left;
    width: 170px;

}
#menu ul{
    list-style-type : none;
    /*margin-right: 10px;*/
    /*border: 1px solid #000;
    /*list-style: disc outside none;*/
    padding: 10px 10px 10px 20px;

}
#menu li{
    border-radius: 20%;
    /*border: 1px solid #960d0d; /* Рамка вокруг текста */
    width: 120px;
    height: 30px;
    background-color: #342492;
    margin-top: 1px;
    padding-top: 10px;
}
#menu li:hover{
    background-color: #689b25;
}
#menu a:link, a:visited{
    color:#689b25;
    display: block;
}
#menu a:hover{
    color: red;
    display: block;
}