{% extends "base_generic.html" %}
{% block content %}
{% load static %}
<p> Привет <br> мир </p>
{% csrf_token %}
<div>
    {{user}}
</div>
<div>

      <textarea name="comment" id="comment"  maxlength="500"></textarea>
</div>
<div>
<textarea name="comment1" id="mes"  maxlength="200"></textarea>
</div>
<input id="send" type="submit" name="send" value="Отправить" />

<script>
    const xhr = new XMLHttpRequest();
    // GET-запрос к ресурсу /hello
    xhr.open("POST", "ajax");
    const xhr1 = new XMLHttpRequest();
    var csrftoken = '{{ csrf_token }}';
    xhr.onload=function(response){
        //console.log('12dec')
        //const json = xhr.response['mes'];
        const res = JSON.parse(xhr.responseText)
        //$("#comment").val(res['mes'])
        console.log(res['mes'])
    }
    function SendButton(){
        //console.log('wdc')
        //data={'name':'qww'}
        const message = {
            id: {{id}},
            mes: $("#mes").val()
        };
        const data = JSON.stringify(message);
        xhr.open("POST", "ajax");
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    
    }
    const sendButton = document.getElementById("send");
    sendButton.addEventListener("click", SendButton);
    xhr1.onload = function (){
        const res = JSON.parse(xhr1.responseText)
        //$("#comment").val($("#comment").val()+'\n'+res['date'])
        ret=''
        for (let i=0; i<res['date'].length; i++){
            console.log(res['date'][i]['message'])
            ret+=res['date'][i]['message']+'\n'
        }
        /*for (let i=0; i<res['date1'].length; i++){
            console.log(res['date1'][i]['message'])
            ret+=res['date1'][i]['message']+'\n'
        }*/
        //$("#comment").val($("#comment").val()+res['date'][i]['message'])
        $("#comment").val(ret)
        //$("#comment").val(console.log(res['date'][0]['message']))

        //console.log(res['date'][i]['message'])

    }
    function sendInterval(){
        const get_messages = {
            id: {{id}},
        };
        const data = JSON.stringify(get_messages);
        xhr1.open("POST", "getajax");
        xhr1.setRequestHeader("X-CSRFToken", csrftoken);
        xhr1.setRequestHeader("Content-Type", "application/json");
        xhr1.send(data);
    }
    setInterval(sendInterval,1000);



</script>

{%endblock%}