<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
    <a href="https://ya.ru" target="_blank">Поиск</a>
    <a href="test1.html">ecce</a>
<!--cfngfnzdvbdgb-->
<!-- wdcвцс
ывм
фыам -->

<table border="2px" style="border: 1px; width: 100%; background-color: aqua;">
    <tr>
        <td colspan="3">asfvbdfbsdgbsdgb</td>
    </tr>
    <tr style="border: 1px; height: 1000px;">
        <td style="width: 20%;"><img src="//avatars.mds.yandex.net/i?id=38c9a040e09790b2810b546c18fbd74938b1dfcc-9144721-images-thumbs&n=13" alt="какая то картинка">dc</td>
        <td style="width: 20%;">asvzdfvbzdfvasdfvzdfsvadfvdsfvzsfdvsdfvadfsv</td>
        <td style="width: 20%;">\scv</td>
    </tr>
</table>

</body>
</html>
