{% extends "base_generic.html" %}
{% block content %}

<div> 
    <h1> Привет всем </h1> <h2> sdfcvwsvc </h2>
</div>

<div> 
    <pre>
        Привет мир
        svsfv
        sfvsfv
    </pre>
</div>
<div>
    qwdvasdfv
    asdvcasdv
    sdvasfv
</div>
<div>
    qwdvasdfv
    asdvcasdv
    sdvasfv
</div>
<p> wfsav </p> <p> wfsaadadcv </p>


<script>
    var q = 123
    console.log(this.q)
    console.log(this.document)
    var qwe=[1,2,3,4]
    qwe[10]=123
    console.log(qwe)
    var asd = {
        q :'qwe',
        s : '123',
        'foo': function(){console.log(123)}
    }
    console.log(asd)
    asd.foo()


</script>

{%endblock%}