{% extends "base_generic.html" %}
{% block content %}
   <div>
     <form method="POST">
       {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Send" id = 'send' >

     </form>
   </div>
   <div class="">
     {%for u in user%}
        <div id = '{{u.id}}' onclick="btn_click(this)">
            {{u.username}}
        </div>
     {%endfor%}

   </div>


<script>
    function btn_click(btn){
       console.log(btn.innerText)
       console.log(btn.id)
       $("#id_name").val(btn.innerText)
       $("#id_id").val(btn.id)
       //console.log('111')
    }
    //var user_id =("#comment").val(res['mes'])

</script>
{% endblock %}