<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Django Lesson</title>
        <link rel="stylesheet" href="{% static 'web1/css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'web1/css/styles_side.css' %}" />
        <link rel="stylesheet" href="{% static 'web1/css/styles_heder.css' %}" />
        <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    </head>
    <body>
        <div id="header">
            <h2 style= "text-align:center; color:#5285ad;">Афигенная соц сеть</h2>
            <ul class="hr">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
        <div id="menu">
            <img src="{%static 'images/image1.png' %}" width="150">
            {% include "sidebar1.html"  %}
            {% if request.user.is_staff%}
            {% include "sidebar2.html"  %}
            {% else %}

            {% endif %}
        </div>
        <div id="main">
            {% if request.user.is_authenticated %}
                AUTHED
                {{request.user}}
            {% else %}
                 GUEST
            {% endif %}
           <h1>{% block header %}{% endblock header %}</h1>
           <div>{% block content%}{% endblock content %}</div>
        </div>
        <div id="footer">
            <p>Copyright © MySyte.com, 2016</p>
        </div>
    </body>
</html>