{% extends "base_generic.html" %}
{% block content %}
   <div class="">
dfsvgsdarvgadrv
   </div>
<script>
/*function Function1() {
    setTimeout(()=>{
        let result = 22;
        console.log("result:", result);
    }, 1000);
}
Function1();
console.log("Конец программы");*/

/*function foo1(){
   console.log('123')
}
setInterval(foo1,1600);
function foo2(){
      console.log('1111')
      setInterval(()=>{console.log('qwe')},1000)
   
}
foo2()*/
/*function resolve(){
   console.log('qwe')
}*/
/*const myPromise3000 = new Promise(function(resolve){
    console.log("[myPromise3000] Выполнение асинхронной операции");
    setTimeout(()=>{console.log('adcdc')}, 1000);
    console.log('sdac')
    resolve('123344')
});*/
pr =  new Promise(function(resolve){
        let i=1
        while (i<1000000000){
         i++;
        } 
        resolve('asd')
        //setInterval(()=>{resolve('1234567')},2000)
});

pr.then(function(value){ 
    console.log("Результат асинхронной операции:", value);
});
console.log('WDCVSFV')
</script>
{% endblock %}